.nav{
    width: 100vw;
    height: calc(100vh - var(--height-header));
    position: fixed;
    top: var(--height-header);
    left: 0;
    background: $black-cl;
    z-index: 200;
    pointer-events: auto;
    @include transition($t);
    visibility: hidden;
    &__menu-mobile{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .item{
                margin-block: 20px;
            a{
                color: $white-cl;
                text-decoration: none;
                text-transform: uppercase;
                font-family: pb;
                font-size: 30px;
                line-height: normal;
                letter-spacing: 0.07em;
                }
        }
    }
    &.active{
        opacity: 1;
        visibility: visible;
        @include transition($t)
    }
}
